@font-face {
    font-family: 'Press Start 2P', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}

canvas {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

.startGame {
    position: relative;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
}

.startGame .b_play-top {
    display: none;
    position: absolute;
    z-index: 99;
}
.startGame:hover .b_play-top {
    display: inline;
}

.restart {
    position: relative;
    display: inline-block;
}

.restart .b_restart-top {
    display: none;
    position: absolute;
    z-index: 99;
}

.restart:hover .b_restart-top {
    display: inline;
}

.continue {
    position: relative;
    display: inline-block;
}

.continue .b_continue-top {
    display: none;
    position: absolute;
    z-index: 99;
}

.continue:hover .b_continue-top {
    display: inline;
}
